ShooterGame/.vs
ShooterGame/.vscode
ShooterGame/Binaries
ShooterGame/Config
ShooterGame/Content
ShooterGame/Intermediate
ShooterGame/Platforms
ShooterGame/Saved
ShooterGame/.vsconfig
ShooterGame/ShooterGame.code-workspace
ShooterGame/ShooterGame.sln
ShooterGame/ShooterGame.uproject
ShooterGame/Plugins/CppEditorWidget/Binaries
ShooterGame/Plugins/CppEditorWidget/Content
ShooterGame/Plugins/CppEditorWidget/Resources
ShooterGame/Plugins/CppEditorWidget/Intermediate
